body{
background-image: url(./imagenes_integrador_front/ba1.jpg);
background-size: 100% auto;}
h2{
    background-color: rgba(0, 0, 0, 0.7);
    color: white
}
label{
    background-color: rgba(0, 0, 0, 0.7);
    color: white 
}